# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Logs
*.log
logs/
php/

# Config files with secrets
config/config.proxy.yaml
config/config.direct.yaml
config/config.yaml
config/config.local.yaml

# Build artifacts
dist/
build/

