{{define "positions/index.html"}}
<!doctype html>
<html class="fixed">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}} - CT-System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/assets/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" href="/assets/vendor/select2/select2.css" />
    <link rel="stylesheet" href="/assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" />
    <link rel="stylesheet" href="/assets/stylesheets/theme.css" />
    <link rel="stylesheet" href="/assets/stylesheets/skins/default.css" />
    <link rel="stylesheet" href="/assets/stylesheets/theme-custom.css" />
    <link rel="stylesheet" href="/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="/assets/vendor/pnotify/pnotify.custom.css" />
    <link rel="stylesheet" href="/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />
    <link rel="stylesheet" href="/assets/stylesheets/ct.css" />

    <script src="/assets/vendor/modernizr/modernizr.js"></script>
    <script src="/assets/vendor/jquery/jquery-3.7.1.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.js"></script>
</head>
<body>
<section class="body">
    <header class="header">
        <div class="logo-container">
            <a href="/" class="logo"><span style="color:#34495e;font-size: 200%">CT-System</span></a>
            <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
            </div>
        </div>
        <div class="header-right">
            <span class="separator"></span>
            <div id="userbox" class="userbox">
                <a href="#" data-toggle="dropdown">
                    <figure class="profile-picture">
                        <img src="/assets/images/!logged-user.jpg" alt="" class="img-circle" />
                    </figure>
                    <div class="profile-info">
                        <span class="name">{{.User.Name}} {{.User.LastName}}</span>
                        <span class="role">{{.User.Email}}</span>
                    </div>
                </a>
                <a role="menuitem" tabindex="-1" href="/auth/logout"><i class="fa fa-power-off"></i> Logoff</a>
            </div>
        </div>
    </header>

    <div class="inner-wrapper">
        <aside id="sidebar-left" class="sidebar-left">
            <div class="sidebar-header">
                <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>
            <div class="nano"><div class="nano-content">
                <nav id="menu" class="nav-main" role="navigation">
                    <ul class="nav nav-main">
                        <li><a href="/"><i class="fa fa-home"></i><span>Home</span></a></li>
                        <li><a href="/positions_calc/"><i class="fa fa-cubes"></i><span>Trade Positions</span></a></li>
                        <li><a href="/exchange_accounts/"><i class="fa fa-bank"></i><span>Exchange Accounts</span></a></li>
                        {{if .User.IsAdmin}}
                        <li><a href="/exchange_manage/"><i class="fa fa-cog"></i><span>Exchange Manage</span></a></li>
                        <li><a href="/users/"><i class="fa fa-user"></i><span>Users</span></a></li>
                        <li><a href="/groups/"><i class="fa fa-users"></i><span>User's Groups</span></a></li>
                        {{end}}
                    </ul>
                </nav>
            </div></div>
        </aside>

        <section role="main" class="content-body">
            <br><br>
            <header class="page-header">
                <h2>Trade Positions Calculator</h2>
                <div class="right-wrapper pull-right">
                    <ol class="breadcrumbs">
                        <li><a href="/positions_calc/"><span>Positions</span></a></li>
                    </ol>
                    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
                </div>
            </header>

            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title">Trade Positions List</h2>
                </header>
                <div class="panel-body">
                    <a class="modal-with-form" href="#modalForm-add-position">
                        <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary"><i class="fa fa-plus-square"></i> &nbsp;Add Position</button>
                    </a>
                    <div style="margin-top: 20px;"></div>
                    <table class="table table-bordered table-striped mb-none cell-border order-column" id="dt-positions">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Exchange</th>
                            <th>Market</th>
                            <th>Status</th>
                            <th>Position Amount</th>
                            <th>Position AVG Price</th>
                            <th>Fee Base Currency</th>
                            <th>Fee</th>
                            <th>Funding</th>
                            <th>Total Realized PnL</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </section>

            <div id="modalForm-add-position" class="modal-block mfp-hide">
                <section class="panel">
                    <header class="panel-heading"><h2 class="panel-title">Add Position</h2></header>
                    <div class="panel-body">
                        <form id="add-position-form" class="form-horizontal mb-lg" novalidate>
                            <div class="form-group col-md-6 col-sm-6" style="margin: 0px">
                                <label class="control-label force-align-left">Contract Name<span class="required">*</span></label>
                                <div><input type="text" id="add_position_name_contract" name="add_position_name_contract" class="form-control" maxlength="64" required /></div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6" style="margin: 0px">
                                <label class="control-label force-align-left">Exchange <span class="required">*</span></label>
                                <div>
                                    <select id="add_position_exchange" name="add_position_exchange" class="form-control" required>
                                        <option value=""></option>
                                        {{range .Exchanges}}<option value="{{.ID}}">{{.Name}}</option>{{end}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6" style="margin: 0px">
                                <label class="control-label force-align-left force-align-left-icon">Start Date <span class="required">*</span></label>
                                <div class="input-group date" id="dp1">
                                    <input type="text" id="add_position_date_start" name="add_position_date_start" class="form-control" maxlength="19" value="{{.Now}}" required />
                                    <span class="input-group-addon px-2"><span class="icon"><i class="fa fa-calendar"></i></span></span>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6" style="margin: 0px">
                                <label class="control-label force-align-left">Market <span class="required">*</span></label>
                                <div>
                                    <select id="add_position_market" name="add_position_market" class="form-control" required>
                                        <option value=""></option>
                                        <option value="spot">Spot</option>
                                        <option value="futures">Futures</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <footer class="panel-footer">
                        <div class="row"><div class="col-md-12 text-right">
                            <button type="button" class="btn btn-primary modal-confirm" id="add_position_button">Save</button>
                            <button type="button" class="btn btn-default modal-dismiss">Cancel</button>
                        </div></div>
                    </footer>
                </section>
            </div>
        </section>
    </div>
</section>

<script src="/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
<script src="/assets/vendor/nanoscroller/nanoscroller.js"></script>
<script src="/assets/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.ru.js"></script>
<script src="/assets/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="/assets/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>
<script src="/assets/vendor/magnific-popup/magnific-popup.js"></script>
<script src="/assets/vendor/pnotify/pnotify.custom.js"></script>
<script src="/assets/javascripts/theme.js"></script>
<script src="/assets/javascripts/theme.custom.js"></script>
<script src="/assets/javascripts/theme.init.js"></script>
<script src="/assets/javascripts/ct.js"></script>
<script src="/assets/javascripts/position_calc.js"></script>
<script>
$(function(){
    $('#dp1').datetimepicker({
        icons: {time: "fa fa-clock-o", date: "fa fa-calendar", up: "fa fa-arrow-up", down: "fa fa-arrow-down"},
        format: "yyyy-mm-dd HH:ii:ss",
        startDate: "01-01-2015",
        todayBtn: "linked",
        autoclose: true,
        todayHighlight: true,
        weekStart: 1,
        language: "ru",
        pickTime: false
    });
});
</script>
</body>
</html>
{{end}}
